<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glory.process.mapper.process.ViewMapper">

    <select id="selectViewU9Conding" resultType="com.glory.process.model.product.View">
      SELECT * from view_bom_item where code = #{code}
    </select>

    <!--  模糊查询工艺型号-->
    <select id="saveProcessU9Conding" resultType="java.util.HashMap">
      select code as u9Coding from view_bom_item
    </select>
</mapper>